@import url("./asset/font/iconfont.css");

body {
  background-color: antiquewhite;
}
.myImg {
  border: 2px solid yellow;
}
.hallo {
  width: 1200px;
  height: 800px;
  background-color: red;
  background-size: contain;
  background-image: url("./asset/image/2.jpg");
}
.icon-a-wo {
  /* font-size: 32px; */
  /* font-weight: 500; */
  /* color: red; */
}
